.roll{
    width: 100%;
    height: 100%;
    .ro{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: max-content;

        .box{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: end;
            gap: 1rem;
            border-bottom: 2px solid var(--main);
            border-right: 2px solid var(--main);
            padding: 1rem;
            
        }
    }
}